<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>Project details</h2>
        <p>This is Food Recipes application done with love.</p>
        <p>Contribute to our grannies that teach us cooking basics :) .</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>