<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>Project details</h2>
        <p>Contribute to my lovely Beaver :)    </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>